@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.logoHeader {
  width: 150px;
  height: 100px;
  
}

#pageHeader {
  display: inline-flex;
  text-decoration: none;
}

#navbarul {
  list-style-type: none;
  float: right;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  
}

.linkli {
  float: left;
}

.linka {
  display: block;
  padding: 8px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: #313131;
  font-size: 20px;
  padding-top: 20px;
}

.linka a:active {
    color: #ffc759;
}

.titleHeader {
    text-align: center;
    padding-right: 550px;
    padding-left: 550px;
    font-size: 35px;
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    color: #313131;
}
