@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.logoHeader {
width: 150px;
height: 100px;
}

#pageHeader {
display: inline-flex;
text-decoration: none;
}

#navbarul {
list-style-type: none;
float: right;
position: fixed;
top: 0;
width: 100%;
text-align: right;
}

.linkli {
float: left;
}

.linka {
display: block;
padding: 8px;
text-decoration: none;
font-family: 'Oswald', sans-serif;
color: #313131;
font-size: 20px;
padding-top: 20px;
}

.linka a:active {
    color: #ffc759;
}

.titleHeader {
    text-align: center;
    padding-right: 550px;
    padding-left: 550px;
    font-size: 35px;
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    color: #313131;
}



.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 300px;
    transform-style: preserve-3d;
}
.container .box{
    position: relative;
    width: 650px;
    height: 350px;
    background: black;
    transform-style: preserve-3d;
}
.container .box:hover{
    box-shadow: 0 50px 80px rgba(0 , 0, 0, .4) ;
}
.container .box .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .contentBx{
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    background: #fff;
    transform: translateZ(20px) scaleY(0);
    transform-origin: top;
    transition:0.5s;
    transform-style: preserve-3d;

}
.container .box:hover .contentBx{
    transform: translateZ(20px) scaleY(1); /*change when you put content*/

}

.wrapper{
    display: flex;
    grid-template-columns: repeat(22,1fr);
    justify-content: center;
    grid-auto-rows: minmax(100px,auto);
    
}
.wrapper > div{
    padding: 1m;
    border-width: 3%;
    border-style: solid;
}
div{
    display: inline-block;
}