@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.logoHeader {
width: 150px;
height: 100px;
}

#pageHeader {
display: inline-flex;
text-decoration: none;
}

#navbarul {
list-style-type: none;
float: right;
position: fixed;
top: 0;
width: 100%;
text-align: right;
}

.linkli {
float: left;
}

.linka {
display: block;
padding: 8px;
text-decoration: none;
font-family: 'Oswald', sans-serif;
color: #313131;
font-size: 20px;
padding-top: 20px;
}

.linka a:active {
    color: #ffc759;
}

.titleHeader {
    text-align: center;
    padding-right: 550px;
    padding-left: 550px;
    font-size: 35px;
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    color: #313131;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(22,1fr);
    grid-template-rows: repeat(22,1fr);
    grid-gap:0;
}
.wrapper > div{
    padding: 1m;
    background-color: #e9cc26;
    font-size: large;
}
.name{
    grid-column: 2/6;
    grid-row:2/8;
}
.age{
    grid-column: 7/11;
    grid-row: 2/8 ;
}
.cohort{
    grid-column: 12/16;
    grid-row: 2/8;

}
.starSign{
    grid-column: 17/21;
    grid-row: 2/8;
}
.music{
    grid-column: 2/6;
    grid-row:9/15;
}
.show{
    grid-column: 7/11;
    grid-row:9/15;
}
.vacationSpot{
    grid-column: 12/16;
    grid-row:9/15;
}
/* .something{
    grid-column: 17/21;
    grid-row:9/15;
}    */
