/* button*/
#button{
    position: absolute;
    left: 40%; 
    top: 40px;
    width: 30%;
    height: 30%;
    background: #DADEE7;
}
#button{
    text-decoration: none;
    border: 3px solid yellow;
    color: transparent;
    padding: 40px 80px;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
}
#button:before{
    content: "Sign Up";
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
}
#button:hover:before {
    transform: scale(1) skewY(360deg);
    left: 0;
    opacity: 1;
}
#button:after {
    content: "Sign Up";
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) skewY(0);
    opacity: 1;
}
#button:hover:after {
    transform: scale(0) skewY(360deg);
    left: -100%;
    opacity: 0;
    }
/*end of button*/